{# templates/default/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to my Symfony page!</h1>
    <p>This is a sample page created with Symfony.</p>
</body>
</html>
